.page{
  border: solid 2px blue;
  background-image: var(--bg-img);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  font-family:var(--font);
}

.header {
  height: 100vh;
  border: solid 2px red;
  width: min(1024px ,100%);
  display: grid;
  justify-self: center;
}